*{
	margin: 0;
	padding: 0;
	font-family: Centruy Gothic;
}
header
{
	background-image: url(121.jpg);
}

body {
	background-image: url(121.jpg);
	background-size: 100% 100%;
	background-position: center;
	  background-repeat: no-repeat;
  }

.main
{
	max-width: 1200px;
	margin: auto;
}
.title
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
